<% provide(:title, "Upload tasks") %>
<h1>Upload Tasks</h1>
<p><%= link_to "Launch Function Point Task Search", "https://helium.functionpoint.com/fpX/html/Default/Findlist/get-Find-View/findListType/Task", target:"new" %></p>
<p><em>You may be asked to log in. Click <strong>Find</strong> on the resulting search form, then select <strong>CSV > Export All Data</strong>. Upload this file.</em></p>
<%= form_tag import_tasks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
