<h1>Jobs</h1>
<p>Showing <%= @jobs.count %> total jobs.</p>
<table>
  <thead>
    <tr>
      <th>Job #</th>
      <th>Job Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @jobs %>
  </tbody>
</table>
