<table>
  <thead>
    <tr>
      <th>Staff</th>
      <th>Date</th>
      <th>Description</th>
      <th>Service Group</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <%= render @timesheet %>
  </tbody>
</table>
